{
  "run": "forexapi",
  "logger": {
    "level": "debug",
    "appenders": {
      "log": {
        "type": "dateFile",
        "filename": "logs/fxdaemon.log",
        "pattern": "yyyy-MM-dd",
        "numBackups": 30
      }
    }
  },
  "userName": "D291234567",
  "password": "*****",
  "host": "http://www.fxcorporate.com/Hosts.jsp",
  "connection": "Demo",
  "symbols": ["USD/JPY", "EUR/USD", "GBP/USD"],
  "periods": ["m5", "m15"],
  "storage": "driver=mysql;host=127.0.0.1;user=root;password=***;database=fxdaemon"
}
